<% page_title = "Blog" %>
<%= render 'navbar', active_tab: page_title %>

<div class="body-wrapper">
  <div class="container">
    <section class="module parallax large-header blog-header">
      <div class="container reveal">
        <h1><%= page_title %></h1>
      </div>
    </section>

    <section class="cards">
      <div class="flex-container reveal">
        <% if @articles.any? %>
          <%= render 'large_card', article: @articles.first %>
          <% @articles[1..-1].each do |article| %>
            <%= render 'small_card', article: article %>
          <% end %>
        <% else %>
          <h2>No Blog Posts</h2>
        <% end %>
      </class>
    </section>
  </div>

  <%= link_to 'New article', new_article_path %>
  <%= render 'footer' %>
</div>
