<% page_title = "Article" %>
<%= render 'navbar', active_tab: page_title %>

<div class="body-wrapper">
  <div class="container">
    <section class="module parallax small-header article-header">
      <div class="container reveal">
        <h1 class="article-title"><%= @article.title %></h1>
      </div>
    </section>

    <section class="article-content module">
      <h2><%= @title %></h2>
      <% @paragraphs.each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
    </section>
  </div>
  <%= render 'footer' %>
</div>
